/* === MENU STYLING === */
#menu {
    color: white;
    background-color: #A3C4BC;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
}

#menu ul li {
    margin-bottom: 15px;
    list-style: none;
}

#menu ul li a {
    display: block;
    padding: 10px;
    background-color: #7A9D96;
    border-radius: 5px;
    text-decoration: none;
}

#menu ul li a:hover {
    background-color: #008080;  /* Teal color for hover */
}

/* === MAIN CONTENT STYLING === */

/* Title */

#main-content h1 {
    font-size: 3em;
    color: #008B8B;  /* Darker teal-colored title */
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    text-align: center;
    margin-top: 20px;
    }

/* Form Square */

#form-container {
  background-color: #5F9EA0;  /* Grey-Blue */
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  text-align: center;
  max-width: 600px;
}

/* Form input fields */

#form-container input[type="text"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

