/* Global body styling */
body {
    font-family: Arial, sans-serif;  /* Font-family */
    background-color: #f4f4f4;
    color: #333;
}

.welcome-text {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
