.main-title {
    font-size: 4rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0.2rem 0.2rem 0.2rem #aaa;
    text-align: center;
}

.body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    max-width: 45rem;
    max-height: 45rem;
}

.menu {
    width: 12.5rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.9375rem;
}

.menu-button {
    margin-bottom: 0.9375rem;
    list-style: none;
    display: block;
    padding: 0.625rem;
    border: 2px solid;
    text-decoration: none;
}


/* For larger screens */
@media (min-width: 48.0625rem) {
    #main-content {
        padding-left: 13.75rem;
    }
}

/* For smaller screens */
@media (max-width: 48rem) {
    #main-content {
        padding-left: 0;
    }
}
