.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f4f3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.inner-container {
    width: 100%;
    max-width: 600px;
    background-color: #eae0d5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 10px solid #c19a6b;
    color: #5a3e36;
}

#page-title {
    text-align: center;
    margin-bottom: 40px;
}

#question {
    font-size: 1.25em;
    margin-bottom: 30px;
    color: #5a3e36;
}

#options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
}

.option {
    background-color: #eae0d5;
    border: 1px solid #c19a6b;
    border-radius: 10px;
    padding: 0.625rem 1.25rem;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover {
    background-color: #d8cec3;
}

.correct {
    border-color: #679267;
}

.incorrect {
    border-color: #9b4449;
}

#next-question-button {
    display: block;
    margin: 20px auto;
    background-color: #c19a6b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    width: 80%;
    max-width: 800px;
    height: auto;
    border: 5px solid #c19a6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

/* RESPONSIVE ADJUSTMENTS */
@media (max-width: 600px) {
    #quiz-container {
        margin: 20px;
        width: auto;
    }

    #options {
        grid-template-columns: 1fr;
    }

    #outer-container {
        flex-direction: column;
    }
}