/* === MENU STYLING === */

/* Style targeting the sidebar menu */
#menu {
  color: white;
  background-color: #FFA500;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
}

/* Style targeting list items inside the menu */
#menu ul li {
  margin-bottom: 15px;
  list-style: none;
}

/* Style targeting anchor tags inside list items in the menu */
#menu ul li a {
  display: block;
  padding: 10px;
  background-color: #FFD700;
  border-radius: 5px;
  text-decoration: none;
}

/* === MAIN CONTENT STYLING === */

/* Page Title */
#page-title h1 {
  font-family: Arial, sans-serif;
  font-size: 3em;
  color: #FFA500;
  text-align: center;
}

#main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 220px; /* Adjust to not be under the menu */
}

#table-container {
  width: 80%;
  margin: 0 auto;
}

#table-container table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

#table-container thead {
  background-color: #4a4a4a; /* Dark gray */
  color: white; /* Text color */
}

.table-container th,
.table-container td {
  padding: 1rem;
  border: 2px solid #FFA500; /* Orange frame */
  text-align: left;
}

.table-container tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Zebra striping for rows */
}

.table-container tbody tr:hover {
  background-color: #ddd;
}

/* Responsive table adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .table-container {
    width: 100%;
    margin: 0;
  }

  .table-container table,
  .table-container thead,
  .table-container tbody,
  .table-container th,
  .table-container td,
  .table-container tr {
    display: block;
  }

  .table-container thead {
    display: none; /* Hide the header on small screens */
  }

  .table-container td {
    position: relative;
    padding-left: 50%;
  }

  .table-container td:before {
    /* Add data labels in a pseudo-element for each td */
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    padding-left: 10px;
    white-space: nowrap; /* Keep the label on a single line */
    background-color: #f0f0f0;
  }
}
