<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quiz Selection</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/menu/quiz-selection.css}" />
</head>

<body>
<!-- Loading Indicator -->
<div id="loading">Loading...</div>

<!-- Sidebar Menu -->
<div id="menu" th:insert="~{menu}"></div>

<!-- Main Container -->
<div class="container">
    <!-- Page Titles -->
    <h1 class="main-title page-title">Available Quizzes: </h1>

    <!-- Table Container -->
    <div class="table-container">
        <table>
            <!-- Table Header -->
            <thead>
            <tr>
                <td data-label="Topic">Topic</td>
                <td data-label="Total Score">Total Score</td>
                <td data-label="Total Time">Total Time</td>
            </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
            <tr th:each="quiz : ${quizzes.quizzes}" th:data-id="${quiz.id}" class="clickable-row">
                <td th:text="${quiz.topic}"></td>
                <td th:text="${quiz.totalScore}"></td>
                <td th:text="${quiz.totalTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Scripts -->
<script th:src="@{/js/menu.js}" defer></script>
<script th:src="@{/js/menu/quiz-selection.js}" defer></script>
</body>

</html>
