<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Setting the title and linking the CSS stylesheets -->
  <title>Create Your Quiz</title>
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <link rel="stylesheet" th:href="@{/css/menu/quiz-creation.css}" />
</head>
<body class="create-quiz-page">

<!-- Sidebar Menu -->
<div th:insert="~{menu}"></div>

<!-- Main Content -->
<div class="container">
  <h1 class="main-title page-title">Create You Own Quiz!</h1>
  <div id="form-container">
    <!-- Dynamically loaded content -->
  </div>
</div>

<!-- Linking JavaScript files -->
<script th:src="@{/js/menu.js}" defer></script>
<script th:src="@{/js/menu/quiz-creation.js}" defer></script>
</body>
</html>
