<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Setting the title and linking the CSS stylesheets -->
  <title>Create Your Quiz</title>
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <link rel="stylesheet" th:href="@{/css/create-quiz-page.css}" />
</head>
<body class="create-quiz-page">

<!-- Sidebar Menu -->
<div id="menu">
  <ul>
    <!-- Menu buttons to navigate to different parts of the app -->
    <li><a href="#" class="menu-button" id="welcome-page-button">Welcome Page</a></li>
    <li><a href="#" class="menu-button" id="different-quizzes-button">Different Quizzes</a></li>
    <li><a href="#" class="menu-button" id="create-quiz-button">Create Your Own Quiz</a></li>
    <li><a href="#" class="menu-button" id="leaderboard-button">Leaderboard</a></li>
  </ul>
</div>

<!-- Main Content -->
<div id="main-content">
  <h1 th:text="${page_title}">Placeholder Title</h1>
  <div id="form-container">
    <!-- Dynamically loaded content -->
  </div>
</div>

<!-- Linking JavaScript files -->
<script th:src="@{/js/main-menu.js}" defer></script>
<script th:src="@{/js/create-quiz-page.js}" defer></script>
</body>
</html>
