<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Quiz Game</title>
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <link rel="stylesheet" th:href="@{/css/quiz-game.css}" />
</head>

<body>

<!-- Main Container -->
<div class="outer-container">

  <!-- Quiz Container -->
  <div id="quiz-container" class="inner-container" th:quiz-id="${quizId}" th:topic="${topic}">

    <!-- Page Title -->
    <div id="page-title">
      <h1 th:text="${topic}">Placeholder Title</h1>
    </div>

    <!-- Question Section -->
    <div id="question">
      <h2 id="question-text">Please wait while the question loads...</h2>
    </div>
    <div id="timer-progress" class="timer-progress"></div>

    <!-- Options Grid -->
    <div id="options" class="options-grid">
      <!-- Options will be populated by JavaScript -->
    </div>

    <button id="next-question-button" class="quiz-game-button" style="display: none;">Next Question</button>

  </div>
</div>

<!-- Scripts -->
<script th:src="@{/js/utils/timer.js}" defer></script>
<script th:src="@{/js/utils/popup-manager.js}" defer></script>
<script th:src="@{/js/manager/ui-manager.js}" defer></script>
<script th:src="@{/js/utils/rest-client.js}" defer></script>
<script th:src="@{/js/utils/quiz-result.js}" defer></script>
<script th:src="@{/js/utils/button-handler.js}" defer></script>
<script th:src="@{/js/quiz-game.js}" defer></script>


</body>

</html>
