<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/welcome-page.css}" />
</head>

<body>
<div id="menu">
    <ul>
        <li><a href="#" class="menu-button">Different Quizzes</a></li>
        <li><a href="#" class="menu-button">Create Your Own Quiz</a></li>
        <li><a href="#" class="menu-button">Leaderboard</a></li>
    </ul>
</div>

<div id="main-content">
    <div id="welcome-box-title">
        <h2>Quiz Wiz</h2>
    </div>

    <div id="welcome-box">
        <p>Welcome to the Quiz Portal. Choose from various quizzes or create your own!</p>
    </div>
    <script th:src="@{/js/welcome-page.js}" defer></script>
</div>
</body>
</html>
