<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Setting the title and linking the CSS stylesheets -->
  <title>Create Your Quiz</title>
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <link rel="stylesheet" th:href="@{/css/create-quiz-page.css}" />
</head>
<body class="create-quiz-page">

<!-- Sidebar Menu -->
<div th:insert="~{menu}"></div>

<!-- Main Content -->
<div id="main-content">
  <h1 th:text="${page_title}">Placeholder Title</h1>
  <div id="form-container">
    <!-- Dynamically loaded content -->
  </div>
</div>

<!-- Linking JavaScript files -->
<script th:src="@{/js/main-menu.js}" defer></script>
<script th:src="@{/js/menu-pages/create-quiz-page.js}" defer></script>
</body>
</html>
