.menu {
    color: white;
    background-color: #A3C4BC;
}

.menu-button {
   background-color: #7A9D96;
}
.menu-button:hover {
    background-color: #699081;
}


/* MAIN CONTENT */

.page-title {
    color: #008B8B;  /* Darker teal-colored title */
}

/* Form Square */

#form-container {
  background-color: #5F9EA0;  /* Grey-Blue */
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  text-align: center;
  max-width: 600px;
}

/* Form input fields */

#form-container input[type="text"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

/* Highlight chosen correct answer */
.highlight-correct {
  border: 2px solid orange;
}



/* Summary Overall Container */

#form-container div {
  background-color: #B2DFDB;  /* Light teal */
  border: 2px solid #008080;  /* Teal border */
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
  text-align: center;
}

/* Summary Topic */
#form-container div h3 {
  color: #006666;  /* Dark teal */
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-shadow: 2px 2px 2px #aaa;
}

/* Summary List Container */
#form-container div ul {
  list-style-type: none;
  padding-left: 0;
}

/* Summary List Items */
#form-container div ul li {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 5px;
  border-radius: 3px;
}

/* Styles for the question row */
.question-row {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

/* Styles for the info row */
.info-row {
  display: flex;
  justify-content: flex-end;
  margin 20px;
  border: none;
}

/* Styles for Summary List labels */
.question-label,
.time-label,
.points-label {
  color: #154360;  /* Dark blue */
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  text-shadow: 1px 1px 1px #aaa;
}

/* Styles for Summary List label values */
.title-value,
.question-text,
.time-value,
.points-value {
  color: #FF8C00;  /* Dark orange color */
  -webkit-text-stroke: 0.5px #fff;
  }

.time-container {
margin-right: 20px;
}


/* Style for the buttons */
.summary-button {
  border: 2px solid #008080;  /* Teal border */
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  color: #154360;  /* Dark blue */
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  text-shadow: 1px 1px 1px #aaa;
  cursor: pointer;
}

.summary-button:hover {
  background-color: #008080;  /* Teal */
  color: #fff;  /* White */
}


